body{
    font-family: 'Fira Sans', sans-serif;
}
h1{
    font-family: 'Fira Sans', sans-serif;
}
.first-section{
    text-align: center;
    height: 800px;
    width: 100%;
    background-image:url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.inner-section{
    color: white;
    padding: 200px;
    
}
.inner-section h1{
    font-size: 80px;
}
.inner-section p{
    font-size: 20px;
    margin-top: -30px;
    text-align: center;
    margin-bottom: 50px;
}
.button{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 40px;
    font-weight: 30px;
    font-size: 20px;
    border-radius: 10px;
}
.second-section{
    text-align: center;
    padding: 100px;
}
.second-section h1{
    font-size: 50px;
}
.second-section p{
    font-size: 20px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(231, 226, 226);
    margin-left: 20px;
}
.box h2{
    padding: 15px;
}
.markable-amount{
    background-color:rgb(238, 162, 162);
    border: 2px solid red;
}
.donation-amount{
    display: flex;
    margin-left: 350px;
}
form{
    margin-top: 50px;
    font-size: 30px;
}
input{
    border: none;
    font-size: 20px;
    text-align: center;
}
.third-section{
    
    padding: 10px;
}
.third-section h1{
    font-size: 50px;
    text-align: center;
}
.third-section p{
    font-size: 20px;
    margin-bottom: 50px;
    
}
.describe-plan{
    display: flex;
    
}
.plan-section{
    padding: 20px 20px;
    margin-left: 30px;
    border-radius: 10px;
}
.bg_color1{
    background-color:#c4e2e3;
}
.bg_color2{
    background-color:rgb(225, 179, 225);
}
.bg_color3{
    background-color: rgb(229, 244, 136);
}
.fourth-section{
    display: flex;
    margin-top: 100px;
}
.half-width{
    width: 50%;
}
.part-1{
    margin-top: 30px;
    margin-left: 20px;
}
.part-1 h1{
    font-size: 50px;
}
.part-1 p{
    margin-bottom: 50px;
    font-size: 20px;
}
.part-2 img{
    height: 500px;
    width: 500px;
    margin-left: 100px;
}
.fifth-section{
    display: flex;
    margin-top: 100px;
}
.six-section{
    margin-top: 100px;
    text-align: center;
}
.six-section h1{
    font-size: 50px;
}
.six-section p{
    font-size: 20px;
}
.some-picture{
    display: flex;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.some-picture img{
    height: 400px;
    width: 400px;
    margin-left: 50px;
}