body{
    font-family: 'Fira Sans', sans-serif;
}
h1{
    font-family: 'Fira Sans', sans-serif;
}
.first-section{
    text-align: center;
    height: 800px;
    width: 100%;
    background-image:url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.inner-section{
    color: white;
    padding: 200px;
    
}
.inner-section h1{
    font-size: 80px;
}
.inner-section p{
    font-size: 20px;
    margin-top: -30px;
    text-align: center;
    margin-bottom: 50px;
}
.button{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 40px;
    font-weight: 30px;
    font-size: 20px;
    border-radius: 10px;
}
.second-section{
    text-align: center;
    padding: 100px;
}
.second-section h1{
    font-size: 50px;
}
.second-section p{
    font-size: 20px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(231, 226, 226);
    margin-left: 20px;
}
.box h2{
    padding: 15px;
}
.markable-amount{
    background-color:rgb(238, 162, 162);
    border: 2px solid red;
}
.donation-amount{
    display: flex;
    margin-left: 350px;
}
form{
    margin-top: 50px;
    font-size: 30px;
}
input{
    border: none;
    font-size: 20px;
    text-align: center;
}

